.sq-form-question {
	margin-bottom: 1rem;
}

.sq-form-section-title {
	font-size: 1.8rem;
}

.dcc-maincontent form label,
.dcc-maincontent form legend {
	margin-top: 1.0em;
	font-weight: 700;
	line-height: 2em;
}

.dcc-maincontent form fieldset {
	font-weight: 700;
}

.dcc-maincontent form select {
	position: relative;
	background: inherit;
	margin-top: 0.3125rem;
	margin-bottom: 0.3125rem;
	border: 1px solid #0B7A7D;
	color: #0B7A7D;
	font-weight: bold;
	padding-right: 28px;
	background: url("../images/svg/chevron-bottom-turquoise.svg") right 0.5em center no-repeat;
	background-size: 16px 7px;
	z-index: 2;
	min-width: 200px;
	width: 100%;
}

.dcc-maincontent form select option {
	color: #000;
}

.sq-form-question-datetime select {
	min-width: 0px !important;
}

.sq-form-question-datetime label,
.sq-form-question-option-list label,
.sq-form-question-tickbox-list label,
.sq-form-question-tickbox-table label {
	font-weight: 500 !important;
}

.dcc-maincontent form input,
.dcc-maincontent form textarea {
	border: 1px solid #e1e1e1;
	padding: 0.35em;
}

.dcc-maincontent form input[type="email"]:focus,
.dcc-maincontent form input[type="number"]:focus,
.dcc-maincontent form input[type="search"]:focus,
.dcc-maincontent form input[type="text"]:focus,
.dcc-maincontent form input[type="tel"]:focus,
.dcc-maincontent form input[type="url"]:focus,
.dcc-maincontent form input[type="password"]:focus,
.dcc-maincontent form textarea:focus,
.dcc-maincontent form input[type="file"]:focus {
	border: 1px solid #0B7A7D;
	outline-color: #0B7A7D;
}

.dcc-maincontent form input[type="email"],
.dcc-maincontent form input[type="number"],
.dcc-maincontent form input[type="text"],
.dcc-maincontent form input[type="tel"],
.dcc-maincontent form input[type="url"],
.dcc-maincontent form input[type="password"],
.dcc-maincontent form textarea {
	width: 100%;
	font-size: 1.0em;
	line-height: 1.5;
	margin: 0;
}

.dcc-maincontent form textarea {
	background: #fff;
}

form li:before {
	height: 0px !important;
	margin-left: 0px !important;
	width: 0px !important;
}

.sq-form-question-answer li:before {
	height: 0px !important;
	margin-left: 0px !important;
	width: 0px !important;
}

form ul {
	margin: 0em 0em 1em 0em !important;
}

form li {
	padding-left: 0.5em !important;
}

form table th {
	color: Black;
	background-color: #f0f0f0;
}

form table {
	background-color: #f0f0f0;
}

form ul.form-bullets {
	margin: 0em 1em 1em 1em !important;
}

form ul.form-bullets li:before {
	height: 20px !important;
	margin-left: -20px !important;
	width: 10px !important;
}

.dcc-maincontent form input[type="submit"],
.dcc-maincontent form input[type="reset"] {
	border-radius: 0rem;
	padding: 0.5rem 1rem;
	font-weight: normal;
	line-height: 1.4em;
}

.dcc-maincontent form input[type="reset"]:hover,
.dcc-maincontent form input[type="submit"]:hover {
	background-color: #2f4757;
	border: 1px solid #2f4757;
}

.dcc-page-searchform {
	background: none !important;
	padding: 0rem !important;
	margin-bottom: 0rem !important;
}

.dcc-page-searchform label {
	margin-top: 0em !important;
}

.dcc-page-searchform input {
	padding: 1px 0 0 0 !important;
}

.dcc-page-searchform input[type="submit"],
.dcc-page-searchform form input[type="reset"] {
	padding: 0 !important;
	font-weight: normal;
}

.dcc-page-searchform input[type="submit"]:hover,
.dcc-page-searchform form input[type="reset"]:hover {
	background-color: rgba(30, 153, 148, 0) !important;
	border: none !important;
}

/*Form buttons*/
.full-width input[type="submit"],
.full-width input[type="reset"] {
	Width: 100%;
}

.half-width input[type="submit"],
.half-width input[type="reset"] {
	Width: 50%;
}

.quarter-width input[type="submit"],
.quarter-width input[type="reset"] {
	Width: 25%;
}

.three-quarter-width input[type="submit"],
.three-quarter-width input[type="reset"] {
	Width: 75%;
}

/* Resources section*/
.dcc-article-full-width {
	max-width: 100%;
}

/*Page layout*/
.dcc-article-center-width {
	max-width: 1000px;
	margin: 0 auto;
}

/*Page layout*/
.dcc-landingpage .accordion {
	max-width: 900px;
}

/*Accordion width*/
@media screen and (min-width: 851px) {
	.submenu {
		min-width: calc(60vw - 280px);
	}
}

/* Sub menu width*/
.submenu .popular-links .button {
	margin-left: 0.8%;
}

@media (max-width: 500px) {
	.hero-menu span#text-size-controls {
		display: none !important;
	}
}

/**************************Landing Page Col***************************************************************************/

@media (max-width: 1350px) {
	.dcc-landing-page-col {
		width: 33% !important;
	}
}

@media (max-width: 1100px) {
	.dcc-landing-page-col {
		width: 50% !important;
	}
}

@media (max-width: 460px) {
	.dcc-landing-page-col {
		width: 100% !important;
	}
}

.dcc-landingpage-row {
	margin-top: 3rem;
  /*margin-bottom:3rem;*/;
}

.dcc-landing-page-col .article-card:after {
	content: 'View this page' !important;
}

/* ICONS */
a[href*=".pdf"] {
	background: url('/__data/assets/image/0007/681676/pdf.gif') no-repeat top left;
	padding: 0 0 0 20px;
	border-bottom: none;
}

a[href*=".PDF"] {
	background: url('/__data/assets/image/0007/681676/pdf.gif') no-repeat top left;
	padding: 0 0 0 20px;
	border-bottom: none;
}

a[href$=".rtf"] {
	background: url('/__data/assets/image/0008/681677/rtf.gif') no-repeat top left;
	padding: 0 0 0 20px;
}

a[href$=".xls"] {
	background: url('/__data/assets/image/0004/681682/xls.gif') no-repeat top left;
	padding: 0 0 0 20px;
}

a[href$=".xlsx"] {
	background: url('/__data/assets/image/0004/681682/xls.gif') no-repeat top left;
	padding: 0 0 0 20px;
}

a[href$=".doc"] {
	background: url('/__data/assets/image/0010/681679/word.gif') no-repeat top left;
	padding: 0 0 0 20px;
}

a[href$=".dot"] {
	background: url('/__data/assets/image/0010/681679/word.gif') no-repeat top left;
	padding: 0 0 0 20px;
}

a[href$=".docx"] {
	background: url('/__data/assets/image/0010/681679/word.gif') no-repeat top left;
	padding: 0 0 0 20px;
}

a[href$=".txt"] {
	background: url('/__data/assets/image/0009/681678/txt.jpg') no-repeat top left;
	padding: 0 0 0 20px;
}

a[href*=".mp3"] {
	background: url('/__data/assets/image/0007/882880/audio.gif') no-repeat top left;
	padding: 0 0 0 20px;
	border-bottom: none;
}

.link-icon {
	background: url('/__data/assets/image/0012/692598/link-icon.png') no-repeat top left;
	padding: 0 0 0 20px;
}

.newwindow-site:after {
	content: '';
	display: inline-block;
	height: 0.7em;
	width: .9em;
	white-space: nowrap;
	overflow: hidden;
	background-image: url("../images/png/external-link-icon.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	margin-left: .1em;
}



/*Downloads container Icons fix*/
.downloads-container a[href*=".pdf"],
.downloads-container a[href*=".PDF"],
.downloads-container a[href$=".rtf"],
.downloads-container a[href$=".xls"],
.downloads-container a[href$=".xlsx"],
.downloads-container a[href$=".doc"],
.downloads-container a[href$=".dot"],
.downloads-container a[href$=".docx"],
.downloads-container a[href$=".txt"] {
	padding: 0px;
	background-image: none;
	border-bottom: 1px solid #0B7A7D;
}

/* Accordion document list*/
.accordion-doc-list {
	margin: 0 !important;
}

.accordion-doc-list li .downloads-list-container ul {
	margin: 0 0 0 1.5rem !important;
}

.accordion-doc-list li .downloads-list-container {
	padding: 0px;
}

.accordion-doc-list li .downloads-list-container ul li {
	list-style-type: disc;
	line-height: 1.9em !important;
}

.accordion-doc-list li .downloads-list-container ul li .link-icon {
	padding: 0 0 0 20px;
	font-weight: 500;
	background-position: left;
}

/* Accordion multi document list*/
.accordion-doc-list li .multi-doc-list ul a {
	font-weight: normal;
}

.accordion-doc-list li .multi-doc-list .multi-doc-container {
	margin: 0 0 1rem 2.5rem !important;
}

.dcc-bg-blue {
	background: #2f4757 !important;
}

.dcc-bg-pale-red {
	background: #ee7184 !important;
}

.dcc-bg-red {
	background: #c32126 !important;
}

/************Readspeaker CSS**********************************/
.rsbtn {
	height: unset !important;
	;
  margin-bottom: 0px !important;
	;
  z-index: 0 !important;
	;
}

.rsbtn_play {
	font-family: unset !important;
	font-size: 14px !important;
	font-weight: 900 !important;
	line-height: 14px !important;
}

.rsbtn .rsbtn_powered .rsbtn_btnlabel a span.rsbtn_label_read {
	color: #0B7A7D !important;
}

.rsplaying a #article-listen:before {
	animation: play 1.5s steps(2) infinite;
}

/************Readspeaker CSS Finish**********************************/

/************Dcc content slider CSS start**********************************/
.dcc-slideshow-container-heading {
	padding: 1rem 1rem 0rem 2rem;
}

/* Slideshow container */
.dcc-slideshow-container {
	position: relative;
	background: #ffffff;
	max-width: 900px;
}

/* Slides */
.dcc-content-Slides {
	display: none;
	padding: 2rem;
	margin: 0 2rem;
  /*text-align: center;*/;
}

@media (max-width: 500px) {
	.dcc-content-Slides {
		padding: 0.5rem;
	}
}

@media (min-width: 851px) and (max-width: 980px) {
	.dcc-content-Slides {
		padding: 1rem;
	}
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -3px;
	padding: 8px;
	color: #2f4757;
	font-size: 1.5rem;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-decoration: none;
	font-style: normal;
}

/* Position the "next button" to the right */
.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgb(30, 153, 148);
	color: white;
}

/* The dot/bullet/indicator container */
.dcc-dot-container {
	text-align: center;
	padding: 10px 0px;
	background: #0B7A7D;
	max-width: 900px;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #f0f0f0;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.dcc-content-Slides-active,
.dot:hover {
	background-color: #2f4757;
}

.dcc-slideshow-container .thumbnail {
	margin-bottom: 30px;
}


/************Dcc content slider CSS Finish**********************************/

/***********Alerts and notices page style start**********************************/

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	border-bottom: 1px solid #fff;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 1rem 1.2rem;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background-color: #0B7A7D;
	color: #fff;
	overflow: hidden;
	position: relative;
	font-size: large;
}

ul.tabs li .fa {
	font-size: larger;
	padding-right: 5px;
}

.tab_last {
	border-right: 1px solid #e0e0e0;
}

ul.tabs li:hover {
	background-color: #2f4757;
}

ul.tabs li.active {
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #fff;
	display: block;
}

.tab_container {
	border: 1px solid #e0e0e0;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}

.tab_drawer_heading {
	display: none;
}

@media screen and (max-width: 750px) {
	.tabs {
		display: none;
	}

	.tab_drawer_heading {
		background-color: #fff;
		color: #0B7A7D;
		border-top: 1px solid #9ba3a9;
		margin: 0;
		padding: 10px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.tab_drawer_heading .fa {
		font-size: larger;
		padding-right: 5px;
	}

	.d_active {
		background-color: #2f4757;
		color: #fff;
	}
}

ul.tabs li:before {
	height: 0px;
}

/******************Accessibility CSS********************************/
.skip-link {
	display: block;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.skip-link:focus {
	position: relative;
	width: auto;
	height: auto;
	clip-path: unset;
}

.accordion-title {
	font-size: 1.0625em;
	margin-bottom: 0em;
}

.dcc-focus:focus,
.slick-track:focus {
	border: 0.5px solid rgb(77, 144, 254);
}

.dcc-event-slide:focus {
	outline-style: auto !IMPORTANT;
	outline-color: rgb(77, 144, 254) !IMPORTANT;
}

@media (min-width: 1025px) {
	.article-slide>.large-2 {
		min-height: 25em;
		margin-bottom: 0;
	}
}

/**********************Accessibility CSS finish**********************************************************************/

/*=========Menu Landscape fix for mobile devices start==================*/
@media screen and (max-height: 420px) {
	.nav {
		padding-top: 10px;
	}

	.nav .menu li {
		font-size: 0.9em;
	}

	.nav footer {
		margin-top: 10px;
	}

	.nav .logo {
		height: auto;
		margin-bottom: 10px;
	}

	.nav input {
		font-size: medium;
		padding: 1vh;
	}
}

@media screen and (max-height: 360px) {
	nav .logo:after {
		content: 'Dunedin City Council' !important;
		color: #2f4757;
		font-weight: bold;
		font-size: 1.125em;
	}

	.nav .logo {
		min-height: auto;
		background: none;
	}

	.nav .menu li a:hover,
  .nav .menu li a.open,
  .nav .menu li a.active {
		box-shadow: 0px -2px 0 0px #2f4757 inset;
	}
}

@media screen and (max-height: 260px) {
	.nav .menu li {
		font-size: 0.5em;
	}
}

/*============Menu Landscape fix for mobile devices end===============*/


/*========= Documents page paintlayout CSS start==================*/

.dcc-a-z-control-list {
	background: #0B7A7D;
	padding: 0.5rem;
	margin-bottom: 2rem;
	text-align: center;
}

.dcc-a-z-control-list span {
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 0.4rem;
	line-height: 2.5rem;
}

.dcc-a-z-control-list a {
	color: #fff;
	text-decoration: none;
	font-style: normal;
}

.dcc-a-z-control-list a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.dcc-a-z-list-page h3 a {
	text-decoration: none;
	font-style: normal;
	display: block;
	border-radius: 50%;
	background: #0B7A7D;
	width: 30px;
	height: 30px;
	padding: 5px;
	text-align: center;
	margin-left: 5px;
	color: #ffffff;
	margin-top: 1em;
}

.dcc-a-z-list-page div {
	margin-left: 3rem;
}

/*=========Documents page paintlayout CSS end==================*/


/*========= Translated information==================*/
.dcc-translated-information a {
	text-decoration: none;
	font-style: normal;
}

.dcc-translated-information a:hover {
	text-decoration: underline;
	color: #1b4b88;
}

.dcc-translated-information .right-align {
	text-align: right;
}

.dcc-maincontent .dcc-translated-information .list-right-align ul>li:before {
	margin-right: -20px;
}

.dcc-maincontent .dcc-translated-information .list-right-align ul {
	margin: -0.6em 2em 1.8em 0em;
}

.dcc-maincontent .dcc-translated-information .list-right-align ul ul {
	margin: 0em 2em 1.8em 0em;
}

.dcc-maincontent .dcc-translated-information table td {
	direction: rtl;
}

/*========= Hidden elements finish ==================*/

figure {
	margin-bottom: 40px;
}

figcaption {
	font-weight: 600;
	margin-top: 0.9375em;
	margin-bottom: 0.9375em;
}

/****************************************/

/* legal list styles start */
#legal-list {
	counter-reset: section;
}

#legal-list h3:before {
	counter-increment: section;
	content: counter(section) ".";
	margin: 0 0.2em 0 0;
}

#legal-list ol h4 {
	margin-top: 0.5em;
}

#legal-list ol {
	counter-reset: clause;
	list-style: none outside none;
	margin: 0.8em 0 0.8em 1em;
}

#legal-list ol li {
	counter-increment: clause;
}

#legal-list ol li:before {
	content: counter(section) "." counters(clause, ".") ". ";
}



/**********legal list styles finish******************************/



/*--------------------Web-feedback-form-start--------------------------------------------*/


.webfeedbackform .tab {
	width: 100%;
	color: white;
	overflow: hidden;
}

@media (min-width: 551px) {
	.webfeedbackform .tab {
		width: 60%;
	}
}

@media (min-width: 1200px) {
	.webfeedbackform .tab {
		width: 40%;
	}

	.dcc-article-full-width .webfeedbackform .tab,
  .landingpageform .tab {
		width: 20%;
	}
}

.landingpageform form {
	background: #f6f6f6;
}

.landingpageform ul {
	overflow: hidden;
}

.landingpageform form label,
.landingpageform form legend {
	margin-top: 1.0em;
	font-weight: 700;
}

.landingpageform form input[type="text"],
.landingpageform form input[type="email"],
.landingpageform form textarea {
	width: 100%;
	font-size: 1.0em;
	line-height: 1.5;
	margin: 0;
	border: 1px solid #e1e1e1;
	padding: 0.35em;
	background: #fff;
}

.landingpageform form input[type="submit"] {
	border-radius: 0rem;
	padding: 0.5rem 1rem;
	font-weight: normal;
	line-height: 1.4em;
}

.webfeedbackform .tab-label,
.webfeedbackform .tab-link {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 1em;
	background: #2f4757;
	font-weight: bold;
	cursor: pointer;
	margin: 2px 0px !important;
	padding: 1rem !important;
}

.webfeedbackform .tab-label:hover,
.webfeedbackform .tab-link:hover {
	background: #1a252f;
}

.webfeedbackform .tab-label::after,
.webfeedbackform .tab-link::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	-webkit-transition: all .35s;
	transition: all .35s;
}

.webfeedbackform .tab-content {
	max-height: 0;
	padding: 0 1em;
	color: #2c3e50;
	background: white;
	-webkit-transition: all .35s;
	transition: all .35s;
}

.webfeedbackform.tab input:checked+.tab-label {
	background: #3d3d61;
}

.webfeedbackform .tab input:checked+.tab-label::after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.webfeedbackform .tab input:checked~.tab-content {
	max-height: 1000vh;
	padding: 1em;
}

.webfeedbackform .tab .tab-button {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.webfeedbackform.tab-link {
	color: #fff !important;
}

.webfeedbackform .tab-link:hover {
	color: #fff !important;
}

.web-feedback-form {
	margin: 1rem !important;
}

.web-feedback-form .dcc-emb-form {
	background: #f0f0f0 !important;
}

.dcc-emb-form {
	margin-bottom: 0rem !important;
	padding: 1rem 1rem 2rem !important;
}

.dcc-emb-form .dcc-margin-bottom {
	margin-bottom: 1rem !important;
}

.dcc-emb-form label {
	line-height: 1.5em !important;
}

.webfeedbackform-container {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 551px) {
	.webfeedbackform-container {
		width: 50%;
	}
}

.webfeedbackform-item {
	width: 20%;
	height: 30px;
	padding: 1rem 0rem;
	margin: 0 auto;
	text-align: center;
}

.webfeedbackform-radio {
	display: none;
}

.webfeedbackform-radio~span {
	font-size: 2rem;
	cursor: pointer;
	transition: 0.3s;
}

.webfeedbackform-radio:checked~span,
.webfeedbackform-radio:hover~span {
	filter: grayscale(0);
	font-size: 2.4rem;
}

.emoji {
	font-family: "Segoe UI Emoji";
	filter: grayscale(100);
	-ms-filter: grayscale(100);
	filter: gray;
	opacity: 0.7;
}

.emoji[aria-label]:after {
	content: attr(aria-label);
	display: none;
	font-size: 0.9rem;
}

.emoji[aria-label]:hover:after,
.emoji[aria-label]:hover:after {
	display: block;
	padding: 8px 1px;
	line-height: 15px;
	justify-content: center;
	font-weight: normal;
}


/*---------------------Web-feedback-form-finish--------------------------------------*/


/* Before and After slider start**/

img-comparison-slider {
	visibility: inherit;
	margin-bottom: 10px;
}

img-comparison-slider {
	--divider-width: 2px;
	--divider-color: #c0c0c0;
	--handle-opacity: 1;
	--handle-size: 50px;
	--handle-opacity-active: 1;
	width: 100% !important;
}

img-comparison-slider img {
	width: 100% !important;
}

.img-comparison-slider-heading {
	margin-bottom: 2em;
}

/* Before and After slider finish**/


/* DCC cards start**/
.dcc-card-container {
	width: 100%;
}

.dcc-card-rows {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

@media (min-width: 1250px) {
	.dcc-article-full-width .dcc-card-rows .dcc-card {
		width: 23%;
		margin: 1% 0;
	}

	.dcc-article-full-width .dcc-card-rows .dcc-card:nth-child(4n-2) {
		margin: 1% 2%;
	}

	.dcc-article-full-width .dcc-card-rows .dcc-card:nth-child(4n-1) {
		margin: 1% 2% 1% 0%;
	}

	.dcc-article-full-width .dcc-card-rows .dcc-card:nth-child(4n+1),
  .dcc-article-full-width .dcc-card-rows .dcc-card:nth-child(4n) {
		margin: 1% 0%;
	}
}

@media (min-width: 992px) {
	.dcc-card-rows .dcc-card {
		width: 32%;
		margin: 1% 0;
	}

	.dcc-card-rows .dcc-card:nth-child(3n-1) {
		margin: 1% 2%;
	}
}

.dcc-card-rows .dcc-card {
	-webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}

@media (max-width: 991.98px) {
	.dcc-card-rows .dcc-card:nth-child(odd) {
		margin-right: 2%;
	}

	.dcc-card-rows .dcc-card {
		width: 48%;
		margin: 2% 0;
	}
}

@media (max-width: 767.98px) {
	.dcc-card-rows .dcc-card {
		width: 100%;
		margin: 1% 0;
	}

	.dcc-card-rows .dcc-card:nth-child(odd) {
		margin-right: 0%;
	}
}

.dcc-card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid rgba(0, 0, 0, 0.125);
	border-radius: 0;
}

.dcc-card>a {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: rgb(47, 71, 87);
	font-style: normal;
}

.dcc-card .card-body {
	position: relative;
	padding: 1.875rem;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
}

.dcc-card .card-body .card-title {
	color: rgb(47, 71, 87);
	font-weight: 500;
	font-size: 1.375rem;
	line-height: 1.6875rem;
	letter-spacing: .04688rem;
	margin-bottom: 1.375rem;
}

.dcc-card .card-action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-top: .625rem;
	margin-left: -.75rem;
	margin-right: -.75rem;
}

.dcc-card .card-action svg {
	color: #87288d;
	height: 1.75rem;
	width: 2.3125rem;
	-webkit-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
}

.dcc-card>a:hover .card-action svg,
.card>a:focus .card-action svg {
	margin-right: -.625rem;
}

/* DCC cards finish**/










.video-48-mobile-100,
.video-48-mobile-100-single {
	width: 100%;
	margin-top: 2%;
}

@media (min-width: 768px) {

	.video-48-mobile-100 {
		width: 48%;
		margin-top: 2%;
		float: left;
		margin-right: 2%;
	}

	.video-48-mobile-100-single {
		width: 48%;
		margin-top: 2%;
		margin-right: 2%;
	}
}















/*---------------------four bins plus one service--------------------------------------*/



.DCC-bin-container {
	border-radius: 20px;
	border: dashed 2px #00a9a4;
	padding: 3%;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.DCC-bin-text-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: grid;
	grid-template-columns: 1fr;
	margin-right: -15px;
	margin-left: -15px;
}

.DCC-bin-text-content {
	padding-right: 15px;
	padding-left: 15px;
}

.DCC-bin-text-content h4 {
	margin-bottom: 20px;
}

.DCC-bin-img-container {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	align-items: flex-end !important;
	align-items: flex-end !important;
}

.DCC-bin-img-content {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	text-align: center !important;
}

.DCC-bin-img-content img {
	max-width: 140px;
	width: 70%;
	height: auto;
	margin-bottom: 20px;
}

.DCC-bin-img-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: -15px;
	margin-left: -15px;
}

.DCC-bin-img-grid-1 {
	grid-template-columns: 1fr;
	justify-content: center;
}

@media screen and (min-width: 1024px) {
	.DCC-bin-content-dash-blue {
		border-left: dashed 2px #00A9A4;
	}

	.DCC-bin-text-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 1024px) {

	.DCC-bin-img-container {
		display: block;
		margin-top: 30px;
	}

	.DCC-bin-img-grid {
		grid-template-columns: 1fr 1fr;
	}
}











/* Squiz adds height & width to content images */
img {
	max-width: 100%;
	height: auto;
}


/* ELT Profiles */

.elt-profile {
	min-height: 260px;
}

.ceo-profile {
	margin-top: 40px;
}

.elt-profile h1,
.elt-profile h2,
.elt-profile h3 {
	margin-bottom: .3em;
}

/* DCC pagealerts*/
.dcc-page-alert {
	margin: 0.5rem 0rem;
	padding: 0;
}

.dcc-page-alert-content .dcc-notice-title {
	margin: 0.5rem 0rem;
}

.notice.orange-alert .dcc-page-alert-content ul,
.notice.teal-alert .dcc-page-alert-content ul {
	margin: -0.6em 0 1em 1em;
}

.notice.orange-alert .dcc-page-alert-content ul li:before,
.notice.teal-alert .dcc-page-alert-content ul li:before {
	background: url(/__data/assets/image/0007/683530/list-white-icon.png) no-repeat left 0.745em;
}

.page-alert-close {
	font-size: 2.6rem;
	padding: 0rem 1rem;
	position: absolute;
	right: 0;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	background: none;
	line-height: 1;
}

.dcc-page-alert .dcc-page-alert-content a {
	text-decoration: none;
	color: #ffffff;
}

.dcc-page-alert .dcc-page-alert-content a:hover {
	text-decoration: underline;
}

.notice.dcc-page-alert .dcc-page-alert-content {
	width: calc(98% - 37.5px) !important;
}

.notice.dcc-page-alert {
	display: none;
}

@media (max-width: 850px) {
	.dcc-page-alert-content:before {
		width: 0px !important;
	}

	.dcc-page-alert-content {
		padding-left: 0em !important;
	}
}

.notice.yellow-alert {
	background: #f1bf2b !important;
	border-left: 4px #344d62 solid;
	color: #2f4757;
}

.notice.orange-alert {
	background: #d6581e !important;
	border-left: 4px #131313 solid;
	color: #ffffff;
}

.notice.teal-alert {
	background: #0b7a7d !important;
	border-left: 4px #2f4757 solid;
	color: #ffffff;
}

.notice.yellow-alert .dcc-page-alert-content ul {
	list-style: disc;
	overflow: unset;
}

.notice.yellow-alert .dcc-page-alert-content ul li:before {
	width: 0px;
}

.notice.yellow-alert .dcc-page-alert-content ul li {
	padding-left: 0em;
}

.dcc-page-alert.yellow-alert .dcc-page-alert-content a {
	color: #2f4757;
}

.dcc-page-accordion {
	margin: 1rem 0rem;
}

.dcc-page-accordion-head {
	color: #FFF;
	cursor: pointer;
	width: 100%;
}

.dcc-page-accordion-title {
	padding: 0.5rem 1rem;
	margin-left: 30px;
	margin-bottom: 0px;
}

.dcc-page-accordion-title:before {
	content: '';
	position: absolute;
	left: 0;
	width: 1.5em;
	height: 1.5em;
	background: url(/__data/assets/file/0010/673345/icon-alert.svg) center no-repeat;
	background-size: contain;
	margin-left: 10px;
}

.dcc-page-accordion-arrow {
	position: absolute;
	right: 0;
	cursor: pointer;
	line-height: 1;
}

.dcc-page-accordion-arrow .arrow {
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	margin: 1rem;
	padding: 0.3rem;
	position: absolute;
	right: 0;
	cursor: pointer;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.dcc-page-accordion-arrow.up .arrow {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.dcc-page-accordion-arrow.down .arrow {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.dcc-page-accordion-body {
	overflow: hidden;
	padding: 1rem;
	background-color: #fff;
}

.dcc-page-accordion.yellow-accordion .dcc-page-accordion-head {
	background: #f1bf2b !important;
}

.dcc-page-accordion.yellow-accordion .dcc-page-accordion-body {
	border-left: 3px solid #f1bf2b;
}

.dcc-page-accordion.orange-accordion .dcc-page-accordion-head {
	background: #d6581e !important;
}

.dcc-page-accordion.orange-accordion .dcc-page-accordion-body {
	border-left: 3px solid #d6581e;
}

.dcc-page-accordion.teal-accordion .dcc-page-accordion-head {
	background: #0b7a7d !important;
}

.dcc-page-accordion.teal-accordion .dcc-page-accordion-body {
	border-left: 3px solid #0b7a7d;
}