@media screen {
    @import url("https://use.typekit.net/czt1xke.css");
}

:root {
    --primary: #0B7A7D;
    --dark-navy: #2f4757;
    --white: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.dcc-background {
    background-image: url("//dccwebteam-app.github.io/assets/images/dcc-home-background-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.dcc-form-wrapper
{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
}