@media screen {
    @import url("https://use.typekit.net/czt1xke.css");
}

section.dcc-background
{
    background-image: url("//dccwebteam-app.github.io/assets/images/dcc-home-background-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}